html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-color: #ee964b;
}

header {
    background-color: #1f271b; 
    padding: 10px 0;
}

nav {
    text-align: center; 
}

.btn {
    background-color: #19647e; 
    color: #fff; 
    border: none;
    padding: 10px 20px; 
    margin: 0 5px; 
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s; 
}

.btn:hover {
    background-color: #777; 
}

.active {
    background-color: #000; 
}

.content {
    max-width: 650px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f4d35e;
    border-radius: 30px;
    padding: 55px;
}

.home-container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 400px;
    border-radius: 30px;
}

.title-container, .menu-title-container, .about-title-container {
    background-color: #ee964b;
    /* background-color: #28afb0; */
    /* width: 100%; */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 5px solid #1f271b;
    margin: 30px 0;
}

.title {
    font-size: 5rem;
    margin: 10px;
}

.description-container {
    background-color: #ee964b;
    border-radius: 30px;
    border: 5px solid #1f271b;
    width: 80%;
}

.home-description {
    margin: 10px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-container {
    background-color: #ee964b;
    border-radius: 30px;
    border: 5px solid #1f271b;
    width: 80%;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-name {
    font-size: 3rem;
}

.item-price {
    font-size: 2rem;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hours-div {
    background-color: #ee964b;
    border-radius: 30px;
    border: 5px solid #1f271b;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hours-title {
    font-size: 3rem;
}

.day-hours {
    font-size: 1.5rem;
}

.contact-div {
    background-color: #ee964b;
    border-radius: 30px;
    border: 5px solid #1f271b;
    margin-top: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-child {
    font-size: 1.5rem;
}

.contact-title {
    font-size: 3rem;
}